<a href="https://colab.research.google.com/github/KurlenMurlen/BigDataAssignment3/blob/main/TDE4_SparkSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

### Group:
- Tarso Bertolini Rodrigues
- Murilo Chandelier
- Ricardo Ryu


---



You and your team were hired to process data using Apache Spark SQL. The team have to answer the 10 (ten) questions (tasks) defined in the activity TDE 2, 3, and 4 - Dataset Definition.

---

Given the aforementioned context, you are in charge of developing a set of solutions that allow the company to answer the following demands:

(Easy) The first task evolving simple aggregations without the requirement of custom data types;

(Easy) The second task Evolving simple aggregations without the requirement of custom data types;

(Easy) The third task Evolving simple aggregations without the requirement of custom data types;

(Easy) The fourth task Evolving simple aggregations without the requirement of custom data types;

(Medium) The first task Containing both Custom Keys, Custom Values, and Combining;

(Medium) The second task Containing both Custom Keys, Custom Values, and Combining;

(Medium) The third task Containing both Custom Keys, Custom Values, and Combining;

(Medium) The fourth task Containing both Custom Keys, Custom Values, and Combining;

(Hard) The first task Containing the use of multiple jobs, Custom Keys, Custom Values, Combining to solve the tasks;

(Hard) The second task Containing the use of multiple jobs, Custom Keys, Custom Values, Combining to solve the tasks;

---

Given your knowledge and skills in Python and Apache Spark SQL, for each item above, provide:

The source code for solving the problem using Apache Spark SQL programming
The result of your code run in a separate text file (.txt). If more than 5 rows of results are available, you must report only the 5 first rows of such result.
Important:

The grading of this activity is conditioned to the audit test.

---

Installing and Importing SparkSQL

In [1]:
# Install Spark in Google Colab
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop2.7.tgz
!tar xf spark-3.0.0-bin-hadoop2.7.tgz
!pip install -q findspark

# Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop2.7"

# Initialize Spark session
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SuicidioDataAnalysis").getOrCreate()



Loading the CSV Data

In [2]:
# Load data from CSV
file_path = "suicidios_2010_a_2019.csv"  # Change this path to your file location in Colab
data = spark.read.csv(file_path, header=True, inferSchema=True)
data.createOrReplaceTempView("suicidios_data")

---

# Basic Queries


```
output_basic_raceColor = "output_basic_raceColor"
output_basic_gender = "output_basic_gender"
output_basic_states = "output_basic_states"
output_basic_occupationsDistributions = "output_basic_occupationsDistributions"
```

In [ ]:
output_basic_raceColor = "output_basic_raceColor"
df_raceColor = spark.sql("SELECT RACACOR, COUNT(*) AS count FROM suicidios_data GROUP BY RACACOR")
df_raceColor.show()
df_raceColor.write.mode("overwrite").csv(output_basic_raceColor)

In [ ]:
output_basic_gender = "output_basic_gender"
df_gender = spark.sql("SELECT SEXO, COUNT(*) AS count FROM suicidios_data GROUP BY SEXO")
df_gender.show()
df_gender.write.mode("overwrite").csv(output_basic_gender)

In [ ]:
output_basic_states = "output_basic_states"
df_states = spark.sql("SELECT estado, COUNT(*) AS count FROM suicidios_data GROUP BY estado")
df_states.show()
df_states.write.mode("overwrite").csv(output_basic_states)

In [ ]:
output_basic_occupationsDistributions = "output_basic_occupationsDistributions"
df_occupations = spark.sql("SELECT OCUP, COUNT(*) AS count FROM suicidios_data GROUP BY OCUP")
df_occupations.show()
df_occupations.write.mode("overwrite").csv(output_basic_occupationsDistributions)

---
# Intermediate Queries


```
output_intermediary_genderYear = "output_intermediary_genderYear"
output_intermediary_genderState = "output_intermediary_genderState"
output_intermediary_occupationsDistributionsState = "output_intermediary_occupationsDistributionsState"
output_intermediary_dateOfBirthState = "output_intermediary_dateOfBirthState"
```

In [ ]:
output_intermediary_genderYear = "output_intermediary_genderYear"
df_genderYear = spark.sql("SELECT ano, SEXO, COUNT(*) AS count FROM suicidios_data GROUP BY ano, SEXO")
df_genderYear.show()
df_genderYear.write.mode("overwrite").csv(output_intermediary_genderYear)

In [ ]:
output_intermediary_genderState = "output_intermediary_genderState"
df_genderState = spark.sql("SELECT estado, SEXO, COUNT(*) AS count FROM suicidios_data GROUP BY estado, SEXO")
df_genderState.show()
df_genderState.write.mode("overwrite").csv(output_intermediary_genderState)

In [ ]:
output_intermediary_occupationsDistributionsState = "output_intermediary_occupationsDistributionsState"
df_occupationsState = spark.sql("SELECT estado, OCUP, COUNT(*) AS count FROM suicidios_data GROUP BY estado, OCUP")
df_occupationsState.show()
df_occupationsState.write.mode("overwrite").csv(output_intermediary_occupationsDistributionsState)

In [ ]:
output_intermediary_occupationsDistributionsState = "output_intermediary_occupationsDistributionsState"
df_occupationsState = spark.sql("SELECT estado, OCUP, COUNT(*) AS count FROM suicidios_data GROUP BY estado, OCUP")
df_occupationsState.show()
df_occupationsState.write.mode("overwrite").csv(output_intermediary_occupationsDistributionsState)

---
# Advanced Queries


```
output_advanced_assistanceCorrelation = "output_advanced_assistanceCorrelation"
output_advanced_occupationCause = "output_advanced_occupationCause"
```

In [ ]:
output_advanced_assistanceCorrelation = "output_advanced_assistanceCorrelation"
df_assistanceCorrelation = spark.sql("""
    SELECT estado, ASSISTMED, COUNT(*) AS count
    FROM suicidios_data
    GROUP BY estado, ASSISTMED
""")
df_assistanceCorrelation.show()
df_assistanceCorrelation.write.mode("overwrite").csv(output_advanced_assistanceCorrelation)

In [ ]:
output_advanced_occupationCause = "output_advanced_occupationCause"
df_occupationCause = spark.sql("""
    SELECT OCUP, CAUSABAS, COUNT(*) AS count
    FROM suicidios_data
    GROUP BY OCUP, CAUSABAS
""")
df_occupationCause.show()
df_occupationCause.write.mode("overwrite").csv(output_advanced_occupationCause)